[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.18.1"
opencv-python = "==4.2.0.32"
pythonnet = {version = "==2.4.0",sys_platform = "=='win32'"}
zwoasi = "==0.0.22"
Pillow = "==7.0.0"
pyside2 = "==5.14.1"
astropy = "==4.0"

[dev-packages]
pylint = "*"
pydocstyle = "*"

[requires]
python_version = "3.7"
