[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.16.3"
opencv-python = "==4.1.0.25"
pythonnet = {version = "==2.4.0",sys_platform = "=='win32'"}
zwoasi = "==0.0.22"
Pillow = "==6.2.0"
pyside2 = "==5.12.3"
astropy = "==3.1.2"

[dev-packages]
pylint = "*"
pydocstyle = "*"

[requires]
python_version = "3.7"
