[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ephem = "==3.7.6.0"
numpy = "==1.16.0"
opencv-python = "==4.0.0.21"
pythonnet = {version = "==2.3.0",sys_platform = "=='win32'"}
zwoasi = "==0.0.22"
Pillow = "==5.4.1"
pyside2 = "==5.12.0"

[dev-packages]

[requires]
python_version = "3.6"
